@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0c0c0c;
  --primary-color: #0d0d0d;
  --secondary-color: #fff;
  --text-color: #fff;
  --text-color-2: #fff;
  --overlay-color: rgb(12 12 12 / 63%);
}

[data-theme="light"] {
  --bg-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --text-color: #000;
  --text-color-2: #000;
  --overlay-color: rgb(255 255 255 / 70%);
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* pointer-events: none; */
}

.bg-hero:before {
  /* background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%); */
  position: absolute;
  content: "";
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.bg-hero:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, rgba(253, 120, 58, 0.945) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(252, 228, 90) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.1;
}

.about-bg {
  height: fit-content;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(231, 231, 231) 0, #ffffff96 100%);
  outline-color: rgb(224, 217, 217);
  outline-style: solid;
  outline-width: thin;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero {
  width: 100vw;
  height: 100vh;
  margin-top: -15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.project_section {
  padding: 10%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(150 144 162 / 6%);
  ;
}

.about_section {
  padding: 10%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white
}

.contact_section {
  padding: 10%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #18181b
}

.bg2 {
  width: 100vw;
  background-color: #f5f5f4;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.dot {
  @apply h-6 w-6 inline-block
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:border-orange-950 hover:bg-orange-700 hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply text-2xl font-medium inter-font leading-[1.15] text-black;
}

.body_text {
  @apply text-lg font-normal inter-font text-gray-700 dark:text-gray-700;
}

.sub_head_text {
  @apply text-lg font-normal inter-font text-gray-700 dark:text-gray-700;
}

.sub_text {
  @apply text-sm font-light inter-font text-gray-500 ;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.blackblue_gradient {
  @apply bg-gradient-to-r from-blue-950 via-sky-700 to-blue-950 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-11 inter-font text-lg text-gray-600 sm:text-xl max-w-5xl;
}

/* .copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199, 199, 199, 0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199, 199, 199, 0.2)] backdrop-blur p-5;
} */

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.left-middle {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 20px;
  width: 200px; /* Adjust width as needed */
  text-align: center; /* Center text horizontally */
  /* Additional styling as per your design */
}

.scrollspy-dots {
  position: fixed;
  top: 50%;
  left: 10px; /* Adjust left position as needed */
  transform: translateY(-50%);
}

.dot {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ccc; /* Inactive dot color */
  border-radius: 50%;
  margin-bottom: 20px; /* Adjust spacing between dots as needed */
}

.active-scroll-spy {
  border-radius: 15px;
  width: 30px; /* Line width */
  background-color: #ea580c; /* Line color */
  transition: width 500ms ease; /* Add transition effect */
}

.cursor__dot div {
  z-index: 100 !important;
}

.cursor__dot div:last-child {
  filter: invert(0);
  size:8px;
  /* background-color: var(--primary-color) !important; */
  
  background-color: #ea580c !important;

}

.cursor__dot div:first-child {
  /* filter: invert(1); */
  background-color: #ea5a0c57 !important;
}

.text-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line-title {
  height: 6px;
  border-radius: 15px;
  width: 50px;
  background-color: darkblue;
}


/* Navbar Component */
.navbar-sticky {
  background-color: white !important;
  position: sticky;
  width: 100%;
  top: -78px ;
  left: 0;
  z-index: 2;

  transform: translateY(60%);
  transition: transform 500ms ease
}

.navbar-body {
  background-color: transparent;
  z-index: 2;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar-body {
  @apply flex-between h-32 w-full mx-auto sm:px-16 px-6
}



/* Hero Component */
.hero {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.hero.visible {
    opacity: 1;
    transform: translateY(0);
}


/* Card Component */
.card-double {
  overflow: hidden;
  border-radius: 0.5rem;
  background-size: cover;
  position: relative;
  height: 35vw;
  /* max-height: 40vh; */
  /* max-width: 100vh; */
  transition: transform 300ms ease;
}

.card-single {
  overflow: hidden;
  border-radius: 0.5rem;
  background-size: cover;
  position: relative;
  height: 22vw;
  min-width: auto;
  transition: transform 300ms ease;
}

.card-content {
  --padding: 1.5em;
  width: 100%;
  padding: var(--padding);
  background-color: white;
  overflow: hidden;
  position: absolute;
  bottom: 0;

  transform: translateY(100%);
  transition: transform 500ms ease
}

.card-single:hover .card-content {
  transform: translateY(0);
}

.card-double:hover .card-content {
  transform: translateY(0);
}

@media (hover: none) {
  /* Device that can not hover with ease */
  .card-content {
    transform: translateY(0);
  }
}

.card-title {
  position: relative;
  width: max-content;
}

.card-body {
  color: rgb(224, 217, 217)
}

.card-title::after {
  content: '';
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  ;
  bottom: 0;
  background: skyblue;

  transform: scaleX(0);
  transition: transform 500ms ease;
  transform-origin: left;
}

.card:hover .card-title::after {
  transform: scaleX(1)
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}